h1 {
  font-family: Calibri;
  text-align: center;
}
h2 {
  font-family: Calibri;
  font-style: italic;
  text-align: left;
}
p {
  font-family: Calibri;
  font-size: 16px;
  line-height: 16px;
}
.info {
  display: inline-box;
  font-family: Calibri;
  line-height: 16px;
  position: absolute;
  right: 0px;
  width: 700px
}
ul {
  font-family: Calibri;
  font-size: 16px;
  line-height: 16px;
}

